/* Global Styles */
  /* font-family: 'Libre Franklin', sans-serif;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Kanit', sans-serif; */

body {
  font-family: 'Kanit', sans-serif;
  position: relative;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', sans-serif;
}

.text-white {
  color: #ffffff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #ffffff;
  background: transparent;
}

.navbar-default {
  background-color: #000000;
}

.navbar {
  margin: 0;
  position: fixed;
  border: 0;
}

.navbar-brand h1 {
  font-family: 'Libre Franklin', sans-serif;
  margin: 0;
  color: #ffffff;
}

.navbar-brand {
  padding: 10px;
}

.section-1 {
  background-image: url("../img/hero.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center;
}

.reservation-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #eeeeee;
  /* height: 100vh; */
}
  /* Menu Section */

.menu-section {
  padding-top: 60px;
  padding-bottom: 60px;
  /* height: 100vh; */
}



/* Small Screens */
@media only screen and (min-width : 768px) {
}

/* Medium Screens */
@media only screen and (min-width : 992px) {
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
}
